.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #0d0d0d;
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  font-family: "Roboto";
  color: #bfbfbf;
  overflow: hidden;
}

.myPic {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 25%;
  border-radius: 50%;
  margin-top: 10%;
}

.about p {
  width: 65%;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 600px) {
  .about p {
    font-size: 1rem;
  }
}
