body {
  margin: 0;
  font-family: 'Copse'; 
  background: black;
}

/* ::-webkit-scrollbar { 
    display: none; 
} */

#navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  width:90%;
  opacity: .9;
  border-radius:7px;
  margin:1%;
  margin-left: 3%;
  }

/* #navbar:hover {
  opacity:1;
  background-color: #A9754F;
} */

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  width:17vw;
  text-decoration: none;
}

#navbar a:hover{
  color: hotpink;
}

section {
height:100vh;
width:100vw;
}



/* resume page */

.resume {
  height:100vh;
  width:100vw;
  background-color: #404040;
}

iframe {
  margin-bottom:1%;
  margin-left:25%;
  margin-top:5%;
  height: 80vh;
  width:50%;
}


/* contact page */

.contact {
  height:100vh;
  width:100vw;
  background: #0d0d0d;
  text-align: center;
  justify-content:center;
  font-family: 'Copse';
  font-size: 2em;
  color: black;

}
.container {
  padding-top:5%;
}

Form {
background-color: #A9754F;
padding:3%;
padding-bottom:0.5%;
width:50%;
height:auto;
margin-left:25%;
border-radius:7px;
}

.sendbutton {
    box-shadow: 2px 2px 3px #999;
  background:#e0e0d1 ;
  color: black;
  margin-top:5%;
  margin-bottom:0;
}




  
@media only screen and (min-device-width : 200px) and (max-device-width : 600px) {
body {
  background:black;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width:100%;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 2px;
  text-decoration: none;
}



.contact a{
  height: 30vh;
}
.container {
 display:none;
}

.line {
  display:none;
}
.contactbuttons {
  height:90vh;
}
iframe {
  margin-bottom:5%;
  margin-left:20%;
  height: 30vh;
  width:60%;

}
.resumePDF{
  margin-top: 10%;
padding:10%;
}

 input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
 
