body {
  margin: 0;
  font-family: 'Copse'; 
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width:26%;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover{
  color: pink;
}

section {
padding-top:5%;
height:100vh;
}

.landing {
  width:100%;
  height:100vh;
  background: black;
  text-align: center;
  font-family: 'Copse';
  font-size: 3em;
  color: #BCBCBE;
}

landing .name  {
 justify-content:center;
 text-align:center;
}

.myPic {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height:auto;
  border-radius:50%;
}

.about {
  width:100%;
  display:inline-flex;
  background-color: #BCBCBE;
  width:100%;
  height:100vh;
  text-align: center;
  font-family: 'Copse';
  font-size: 3em;
  color: #001133;
}

.about p {
  width:60%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}


.projects {
  background:#001133;
  width:100%;
}

.workPiece {
  height:25vh;
  width:50%%;
  padding:5%;
  margin:6%;
}

.contact {
  height:90vh;
}

.resume {
  height:100vh;
  background-color: #A9754F;
}

iframe {
  margin-bottom:5%;
  margin-left:25%;
  height: 80vh;
  width:50%;
}

.contact {
  width:100%;
  height:100vh;
  background: black;
  text-align: center;
  justify-content:center;
  font-family: 'Copse';
  font-size: 1.5em;
  color: black;

}

.container {
 background-color: #A9754F;
padding:2%;
width:50%
}

.carddisplay {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width:100%;

}

.cardcontainer {
   display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
border:2px solid #A9754F;
  border-radius:7px;
  margin: 2%;
  height: 28vh;
  width: 40%;
  background: #c2c2a3;
  
}

.cardheader {
  font-family: 'Copse';
  font-size: 2em;
  color: black;
  text-align: center;
  justify-content:center;
  height:30%;
}

.cardfooter {
  font-family: 'Copse';
  font-size: 2em;
  color: black;
  text-align: center;
  justify-content:center;
}
.projectbuttons {
  background:#A9754F ;
}
 .projectbuttons >a {
   color: black;
 }

.cardbody {
  width:90%;
  display:flex;
}
.cardimage, .cardstack, .cardblurb {
  height:10%;
  width:30%;
  margin:2%;
  font-family: 'Copse';
  font-size: 1.25em;
  color: black;
}


  
@media only screen and (min-device-width : 300px) and (max-device-width : 667px) {
body {
  background:black;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width:100%;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 2px;
  text-decoration: none;
}

.landing {
  padding-top:50px; 
}
.myPic {
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height:auto;
  border-radius:50%;
}
.workPiece {
  height:25vh;
  width:50%;
  padding-top:5%;
  margin:0;
}

.contact a{
  height: 30vh;
}
.container {
 display:none;
}

.line {
  display:none;
}
.contactbuttons {
  height:90vh;
}
iframe {
  margin-bottom:5%;
  margin-left:20%;
  height: 30vh;
  width:60%;

}
.resumePDF{
  margin-top: 10%;
padding:10%;
}
.about p{
  padding-top:5%
}

 input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


